<!-- The Modal-->

<!-- Modal Header-->
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ person.firstName + "  " + person.lastName }}
  </h4>
  <button type="button" class="close"  ng-click="close()"data-dismiss="modal">
    &times;
  </button>
</div>

<!-- Modal body -->
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <h5 class="col-lg-12">Bric Certifications</h5>
      </div>
      <div class="col-lg-8">
        <ul>
          <li>{{ person.bricCertification }}</li>
        </ul>
      </div>
      <div>
        <h5 class="col-lg-12">Work Experience</h5>
      </div>
      <div class="col-lg-8">
        <ul>
          <li>{{ person.workExperience }}</li>
        </ul>
      </div>
      <div>
        <h5 class="col-lg-12">Program Interests</h5>
      </div>

      <div class="col-lg-8">
        <ul>
          <li>{{ person.ProgramsInterests }}</li>
        </ul>
      </div>
      <div>

      </div>
    </div>
  </div>
  <!-- End of Row -->
</div>
<div class="modal-footer">
  <i
  class="fa fa-send-o"
  style="font-size:36px; color:DodgerBlue"
></i>
</div>
<!-- End of Modal Body -->

<!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
       -->

<!--End of Modal -->
