<!-- The Modal-->

<!-- Modal Header-->
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ x.firstName + "  " + x.lastName }}
  </h4>
  <button type="button" class="close" data-dismiss="modal">
    &times;
  </button>
</div>

<!-- Modal body -->
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <h5 class="col-lg-12">Bric Certifications</h5>
      </div>
      <div class="col-lg-8">
        <ul>
          <li>{{ x.bricCertification }}</li>
        </ul>
      </div>
      <div>
        <h5 class="col-lg-12">Work Experience</h5>
      </div>
      <div class="col-lg-8">
        <ul>
          <li>{{ x.workExperience }}</li>
        </ul>
      </div>
      <div>
        <h5 class="col-lg-12">Programs Interests</h5>
      </div>

      <div class="col-lg-8">
        <ul>
          <li>{{ x.ProgramsInterests }}</li>
        </ul>
      </div>
      <div>
        <form action="/action_page.php">
          First name:<br />
          <input type="text" name="firstname" value="" />
          <br />
          Last name:<br />
          <input type="text" name="lastname" value="" />
          <br /><br />
          <button class="btn btn-light" id="mailbutton">
            <i
              class="fa fa-send-o"
              style="font-size:36px; color:DodgerBlue"
            ></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- End of Row -->
</div>
<div class="modal-footer"></div>
<!-- End of Modal Body -->

<!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
       -->

<!--End of Modal -->
