<!-- Search List-->
<div ng-app="bricApp"></div>
  <div class="text-center">
    <img
      class="img-responsive"
      src="public/images/broadcastCamcorder.jpg"
      alt="Find Your Next Producer"
      style="width:100%"
    />

    <div class="text-white centered"></div>
  </div>

  <!-- Notes: Look into responsive images. -->
  <!-- Should be on the same row. Also use block level div to change background color -->

  <section class="container" ng-repeat="x in producers.slice(((currentPage-1)*numPerPage), ((currentPage)*numPerPage))">
    <div class="row">
      <div class="col-lg-8">
        <h3>{{ x.firstName + " " + x.lastName }}</h3>
      </div>
      <div class="col-lg-4">{{ x.emailAddress }}</div>
    </div>
    <div class="row">
      <h5 class="col-lg-12">Bric Certifications</h5>
      <div class="col-lg-8">
        <ul>
          <li>{{ x.bricCertification }}</li>
        </ul>
      </div>
      <h5 class="col-lg-12">Work Experience</h5>
      <div class="col-lg-8">
        <ul>
          <li>{{ x.workExperience }}</li>
        </ul>
        <div>
          <a ng-click="openModal()">
            <button type="button" class="btn btn-outline-info">details</button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <pagination uib-pagination ng-model="currentPage" total-items="totalItems" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" items-per-page="numPerPage" boundary-links="true"></pagination>


</div>
