<!-- Search List-->
<div ng-app="bricApp">
  <div class="text-center">
    <img
      class="img-responsive"
      src="https://www.dropbox.com/s/zh6tgeyqvnffw33/broadcastCamcorder.jpg?raw=1"
      alt="Find Your Next Producer"
      style="width:100%"
    />
  </div>
  <section class="container">
    <div class="form-row mb-2">
      <div class="col">
        <label class="col-form-label searchProdTitle" for="searchQuery">
          Search: <span ng-if="query"></span></label>
      </div><!-- label -->
      <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-lg-5 container searchProdContainer">
          <input class="form-control form-control-lg" id="searchQuery" placeholder="Search for producer or skill" autofocus
          ng-model="query">
        </div><!-- col-12 -->
    </div>
    </div><!-- form-row -->
  </section>
  
  <section class="container containerStyle" ng-repeat="person in filteredProducers |orderBy: 'lastName'| filter: query ">
    <div class="row">
      <div class="col-lg-8">
        <h3>{{ person.firstName + " " + person.lastName }}</h3>
      </div>
      <div class="col-lg-4">{{person.emailAddress}}</div>
    </div>
    <div class="row">
      <h5 class="col-lg-12">Bric Certifications</h5>
      <div class="col-lg-8">
        <ul>
          <li>{{ person.bricCertification }}</li>
        </ul>
      </div>
      <h5 class="col-lg-12">Work Experience</h5>
      <div class="col-lg-8">
        <ul>
          <li>{{ person.workExperience }}</li>
        </ul>
        <div>
          <a ng-click="openModal(person)">
            <button type="button" class="btn-info">details</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="container" >
    <pagination uib-pagination ng-model="currentPage" total-items="producers.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"  class="pagination-sm pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </section>

</div>
