.formContainer {
    position: relative;
    text-align: center;
  }
  .loginForm {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
  }

  .logFormText{
      color: white;
  }

  .loginBtn {
      margin: 10px;
  }

  .regForm {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
  }

  .regFormText{
    color: white;
    margin: 30px;
  }