<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4>Producer Display</h4>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/">Producers</a></li>
        <li><a ng-href="#">Job Posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="/public/index.html#!/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a ng-href="/public/index.html#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>